/** Responsive design **/ 
@media(max-width: 767px){
    #header_area{
        height: 600px;

        h1{
            font-size: 50px;
        }
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 25px!important;
        }
        .header-overlay{
            height: 600px;
        }
       .header-info{
           padding-top: 115px;
       }
       .navbar-nav{
           margin-top: 10px;
       }
    }

    #service_section{
        padding: 50px 0;
        
       h2{
        font-size: 45px;
       }
    }
}

@media(max-width: 575px){
    #header_area{
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 20px;
        }
    }
    #service_section{
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 30px;
        }
    }
}

@media(max-width: 454px){
    #application_section{
        img{
            margin-bottom: 15px;
        }
    }
}